@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Poetsen+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {background-image: url(https://img.freepik.com/free-vector/announcement-background-design_23-2151163117.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.log{
    width: 150px;
    position: fixed;
    padding-top: 55px;
    padding-left: 150px;
}

.heading {
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    padding-top: 100px;
    text-align: center;
}

.subheading {
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.slightheading {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    margin-left: 190px;
    margin-right: 190px;
}

.red1 {
    font-weight: bold;
    color: rgb(245, 4, 4)
}

.red {
    font-weight: bold;
    color: rgb(245, 4, 4)
}

.semiheading {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 20px;
}

.miniheading {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 1px;
}

.red3 {
    font-weight: bold;
    color: rgb(245, 4, 4)
}

