*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.navi{
    background-color: black;
}

.navi .container{
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo{
    font-size: 2rem;
}

li{
    list-style: none;
}

.menu-list{
    display: flex;
}

li > a{
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
    display: flex;
    margin-left: 20px;
    transition: 0.5s all ease ;
}

li > a:hover{
    color: rgb(237, 116, 193);
    text-decoration: underline;
    text-underline-offset: 7px;
}

.container{
    width: 90vw;
    margin: 0 auto;
}

main .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40;
    height: 650px;
    grid-gap: 20px;
}

.main-picture{
    grid-column: 1/2;
    grid-row: 1/2;
}

.first-pic{
    height: 150px;
    width: 150px;
}

.sub-picture{
    grid-column: 2/3;
    grid-row: 2/3;
}

.second-pic{
    height: 100%;
    width: 100%;
}

.def{
    grid-column: 1/2;
    grid-row: 2/3;
}
