@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Poppins' sans-serif;
    line-height: 1.5;
    font: size 16px;
}
*
{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
::before,::after
{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
.section{
    background: #f2f2fc;
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
}
.main-content{
    padding-left: 270px;
}
.container{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
.padd-15{
    padding-left: 15px;
    padding-right: 15px;
}
.section .container{
    padding-top: 60px;
    padding-bottom: 70px;
}
.section-title{
    flex: 0 0 100%;
    margin-bottom: 60px;
    max-width: 100%;
}
.section-title h2{
    font-size: 40px;
    font-weight: 700;
    position: relative;
    color: #302e4d;
}
.section-title h2::before{
    content: '';
    height: 4px;
    width: 50px;
    background-color: red;
    position: absolute;
    top: 100%;
    left: 0;
}
.section-title h2::after{
    content: '';
    height: 4px;
    width: 25px;
    background-color: red;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}
.btn{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: red;
    transition: all 0.3s ease;
}
.btn:hover{
    transform: scale(1.05);
}
.aside .logo{
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}
.aside .logo a{
    color: #302e4d;
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
}
.aside .logo a span{
    font-family: 'Clicker Script', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}
.aside .logo a::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid red;
    border-left: 5px solid red;
    bottom: 0;
    left: 0;
}
.aside .logo a::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid red;
    border-right: 5px solid red;
    top: 0;
    right: 0;
}
.aside{
    width: 270px;
    background: #fdf9ff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    padding: 30px;
    border-right: 1px solid #e8dfec;
    justify-content: center;
    align-items: center;
    display: flex;
}
.aside.nav{
    margin-top: 50px;
}
.aside .nav li{
    margin-bottom: 20px;
    display: block;
}
.aside .nav li a{
    font-size: 16px;
    display: block;
    font-weight: 600;
    padding: 5px 15px;
    color: #302e4d;
    border-bottom: 1px solid #e8dfec;
}
.aside .nav li a i{
    margin-right: 15px;
}
.aside .nav-toggler{
    height: 40px;
    width: 45px;
    border: 1px solid #e8dfec;
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: #fdf9ff;
    display: none;
    align-items: center;
    justify-content: center;
}
.aside .nav-toggler span{
    height: 2px;
    width: 18px;
    background: red;
    display: inline-block;
    position: relative;
}
.aside .nav-toggler span::before{
    content: '';
    height: 2px;
    width: 18px;
    background: red;
    position: absolute;
    top: -6px;
    left: 0;
}
.aside .nav-toggler span::after{
    content: '';
    height: 2px;
    width: 18px;
    background: red;
    position: absolute;
    top: 6px;
    left: 0;
}
li{
    transition: all 0.3s ease;
}

li > a:hover{
    color: red;
    transform: scale(1.05);
}
.home{
    min-height: 100vh;
    display: flex;
    color: #302e4d;
}
.social-icon{
    margin-bottom: 80px;
}
.social-icon a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: red;
    display: inline-block;
}
h3.hello{
    font-size: 28px;
    margin: 15px 0;
}
h3.hello span{
    font-family: 'Clicker script', cursive;
    font-size: 30px;
    font-weight: 700;
    color: red;
}
h3.my-profession{
    font-size: 30px;
    margin: 15px 0;
}
.typing{
    color: red;
}
.home-info p{
    margin-bottom: 70px;
    font-size: 20px;
    color: #504e70;
}
.home .home-info{
    flex: 0 0 60%;
    max-width: 60%;
}
.home .home-img{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}
.home-img::before{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    left: 20px;
    top: -40px;
    border-top: 10px solid red;
    border-left: 10px solid red;
}
.home-img::after{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    right: -20px;
    bottom: -40px;
    border-bottom: 10px solid red;
    border-right: 10px solid red;
}
.shadow-dark{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.home .home-img img{
    height: 400px;
    margin: auto;
    border-radius: 5px;
}
.about .about-content{
    flex: 0 0 100%;
    max-width: 100;
}
.about .about-content .about-text{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text h3{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #302e4d;
}
.about .about-content .about-text h3 span{
    color: red;
}
.about .about-content .about-text p{
    font-size: 16px;
    line-height: 25px;
    color: #504e70;
}
.about .about-content .personal-info{
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 40px;
}
.about .about-content .personal-info .info-item{
    flex: 0 0 50%;
    max-width: 50%;
}
.about .about-content .personal-info .info-item p{
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: #302e4d;
    border-bottom: 1px solid #e8dfec;
}
.about .about-content .personal-info .info-item p span{
    font-weight: 400;
    color: #504e70;
    margin-left: 4px;
    display: inline-block;
}
.about .about-content .personal-info .buttons{
    margin-top: 30px;
}
.about .about-content .personal-info .buttons .btn{
    margin-top: 10px;
    margin-right: 15px;
}
.about .about-content .skills{
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
}
.about .about-content .skills .skill-items{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .skills .skill-items h5{
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: #302e4d;
    text-transform: capitalize;
}
.about .about-content .skills .skill-items .progress{
    height: 7px;
    width: 100%;
    border-radius: 4px;
    background-color: #e8dfec;
    position: relative;
}
.about .about-content .skills .skill-items{
    margin-bottom: 25px;
}
.about .about-content .skills .skill-items .progress .progress-in{
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 4px;
    background-color: red;
}
.about .about-content .skills .skill-items .skill-percent{
    position: absolute;
    right: 0;
    top: -40px;
    font-weight: 400;
    line-height: 40px;
    color: #302e4d;
}
.about .about-content .education,
.about .about-content .experience{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}
.about .about-content h3.title{
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #302e4d;
}
.about .about-content .timeline-box{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .timeline{
    padding: 30px 15px;
    background-color: #fdf9ff;
    border: 1px solid #e8dfec;
    border-radius: 10px;
    width: 100%;
    position: relative;
}
.about .about-content .timeline .timeline-item{
    padding-left: 37px;
    padding-bottom: 50px;
    position: relative;
}
.about .about-content .timeline .timeline-item:last-child{
    padding-bottom: 0;
}
.about .about-content .timeline .timeline-item:before{
    content: '';
    width: 1px;
    height: 100%;
    top: 0;
    left: 7px;
    background-color: red;
    position: absolute;
}
.about .about-content .timeline .circle-dot{
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
}
.about .about-content .timeline .timeline-date{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: #504e70;
}
.about .about-content .timeline .timeline-date .fa{
    margin-right: 5px;
}
.about .about-content .timeline .timeline-title{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: #302e4d;
}
.about .about-content .timeline .timeline-text{
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: #504e70;
}
.service .container{
    padding-bottom: 40px;
}
.service .service-item{
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
.service .service-item .service-item-inner{
    background-color: #fdf9ff;
    border: 1px solid #e8dfec;
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.3s ease;
}

.service .service-item .service-item-inner:hover{
    box-shadow: 0 0 20px rgb(48, 46, 77, 0.15);
}
.service .service-item .service-item-inner .icon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition: all 0.3s ease;
}
.service .service-item .service-item-inner .icon .fa{
    font-size: 40px;
    line-height: 60px;
    transition: all 0.3s ease;
    color: red;
}
.service .service-item .service-item-inner:hover .icon{
    background: red;
}
.service .service-item .service-item-inner:hover .icon .fa{
    font-size: 25px;
    color: #ffffff;
}
.service .skill-item .service-item-inner h4{
    font-size: 18px;
    margin-bottom: 15px;
    color: #302e4d;
    font-weight: 700;
    text-transform: capitalize;
}
.service .service-item .service-item-inner p{
    font-size: 16px;
    color: #504e70;
    line-height: 25px;
}
.portfolio .container{
    padding-bottom: 40px;
}
.portfolio .portfolio-heading{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}
.portfolio .portfolio-heading h2{
    color: #302e4d;
    font-weight: 500;
}
.portfolio .portfolio-item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}
.portfolio .portfolio-item-inner{
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    border: 6px solid #fdf9ff;
}
.portfolio-img{
  max-width: 1000%;
  width: 300px;
  height: 200px;
  object-fit: cover;
}
.portfolio .portfolio-item-inner .portfolio-img img{
    background-color: #e8dfec;
    width: 120%;
    height: auto;
    display: block;
    max-width: 400px;
    max-height:200px;
    margin: 10px auto;
}
.portfolio .portfolio-item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}
.portfolio .portfolio-item-inner{
    border: 6px solid #fdf9ff;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.contact-title{
    color: red;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
.contact-sub-title{
    color: #302e4d;
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}
.contact .contact-info-item{
    flex: 0 0 25%;
    max-width: 25%;
    margin-bottom: 60px  ;
    text-align: center;
}
.contact .contact-info-item .icon{
    display: inline-block;
}
.contact .contact-info-item .icon .fa{
    font-size: 25px;
    color: red;
}
.contact .contact-info-item h4{
    font-size: 10px;
    font-weight: 700;
    color: #302e4d;
    text-transform: capitalize;
    margin: 15px 0 5px;
}
.contact .contact-info-item p{
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #504e70;
}
.contact.contact-form{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-form{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-form .col-6{
    flex: 0 0 50%;
    max-width: 50%;
}
.contact .contact-form .col-12{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-form .form-item{
    margin-bottom: 30px;
}
.contact .contact-form .form-item .form-control{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    padding: 10px 25px;
    font-size: 16px;
    transition: all 0.3s ease;
    background: #fdf9ff;
    border: 1px solid #e8dfec;
}
.contact .contact-form .form-item .form-control:focus{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15)
}
.contact .contact-form .form-item textarea.form-control{
    height: 140px;
}
.contact .contact-form .btn{
    height: 50px;
    padding: 0 50px;
}

@media (max-width:990px){
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .service .service-item{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .home .home-info{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home .home-img{
        display: none;
    }
}
@media (max-width:770px){

    .contact .contact-form .col-6,
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .service .service-item, 
    .about .about-content .experience,
    .about .about-content .education,
    .about .about-content .skills,
    .about .about-content .personal-info{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .portfolio-img{
        max-width: 1000%;
        width: 450px;
        height: 200px;
        object-fit: cover;

    } 
}
